.switch {
  position: relative;
  width: fit-content;
  padding: 0 1rem;
  font-family: verdana;
  background-color: lightgrey;
  border-radius: 30px;
}

.switch__label {
    display: inline-block;
    width: 4.2em;
    padding: .5em .3em .3em;
    text-align: center;
    cursor: pointer;
    transition: color 200ms ease-out;
    color: #999;
}

.switch__label:hover{
  color: black;
}

.switch__indicator {
    width: 3.7rem;
    height: 3.7rem;
    position: absolute;
    top: -.5rem;
    left: 0;
    background: blue;
    border-radius: 50%;
    transition: transform 600ms cubic-bezier(.02,.94,.09,.97),
    background 300ms cubic-bezier(.17,.67,.14,1.03);
    transform: translate3d(1rem,0,0);
}

input#one:checked ~ .switch__indicator {
  background: PaleGreen;
  transform: translate3d(1.3rem,0,0);
}
input#two:checked ~ .switch__indicator {
  background: MediumTurquoise;
  transform: translate3d(5.8rem,0,0);
}
input#three:checked ~ .switch__indicator {
  background: PaleVioletRed;
  transform: translate3d(10.6rem,0,0);
}

input[type="radio"]:checked, input[type="radio"]:not(:checked) {
   display: none;
}

@keyframes toggleEntrance{

    0%{
        opacity: 0;
        transform: rotateX(90deg);
    }
    33%{
        opacity: 1;
        transform: rotateX(180deg);
    }
    66%{
        opacity: 0.5;
        transform: rotateX(270deg);
    }
    100%{
        display: block;
        opacity: 1;
        transform: rotateX(360deg);
    }

}

.switch{
    animation-duration: 1s;
    animation-name: toggleEntrance;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}
