<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/card-feed.js" type="module"></script>
    <script src="/javascripts/canvas.js" type="module"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/view-handler.js" type="module"></script>
    <script src="/javascripts/app.js"> type="module"</script>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/partials/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
    <link rel="stylesheet" href="/stylesheets/loader.css" />
    <link rel="stylesheet" href="/stylesheets/partials/radio.css" />
</head>
<body onload="initDatabase(); initServiceWorker(); initArticleFeed()">
<header>
    <%- include('./partials/nav.html'); %>
</header>

<div class="container" id="cards-container">

</div>
<div id="room-container" style="display: none">
    <%- include('./partials/room.ejs'); %>
</div>
<div id="insert-container" style="display: none">
    <%- include('./partials/insert.ejs'); %>
</div>
</body>
</html>
