<!DOCTYPE html>
<html>
<head>
    <title>Insert</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/card-feed.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/partials/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
    <link rel="stylesheet" href="/stylesheets/insert.css" />
</head>
<body>
<header>
    <%- include('./partials/nav.html'); %>
</header>
<div class="container">
    <div class="col-sm">
        <div class="card">
            <img class="card-img" src="/images/placeholder.png" alt="Card image cap">
            <form action="/insert/" method="post">
            <div class="card-body">
                <div class="row">
                    <input class="card-title" id="title_input" name="title" placeholder="Title">
                </div>
                <div class="row">
                    <input class="card-text" id="description_input" name="description" placeholder="Description">
                </div>
                <div class="row submit_row">
                    <div class="col-5">
                        <input class="text_input" type="text" name="file_path" placeholder="Enter Filepath">
                    </div>
                    <div class="col-4">
                        <input class="text_input" type="text" name="author_name" placeholder="Enter Author Name">
                    </div>
                    <div class="col-3">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>