<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand">Secret Agent Progressive Web App</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <button onclick="removeChatSocketListeners(), removeCanvasSocketListeners(), reloadPage()">Home</button>
            </li>
            <li class="nav-item">
                <button onclick="changeInsertView()">
                    Add Article
                </button>
            </li>
        </ul>
        <ul class="nav navbar-nav ms-auto" style="margin-right: 5%">
            <div class="switch" id="sort-toggle">
                <input name="switch" id="one" type="radio" />
                <label for="one" class="switch__label" onclick="sortByDate()">Date</label>
                <input name="switch" id="two" type="radio" onclick="sortByAuthor()"/>
                <label for="two" class="switch__label">Author</label>
                <div class="switch__indicator" /></div>
            </div>
        </ul>
    </nav>
</div>
