<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
        <a class="navbar-brand">Secret Agent Progressive Web App</a>
        <ul class="nav navbar-nav">
            <li>
                <form action="/" method="get">
                    <button onclick="removeChatSocketListeners(), removeCanvasSocketListeners()">Home</button>
                </form>
            </li>
        </ul>
        <ul class="nav navbar-nav ms-auto" style="margin-right: 5%">
            <li class="nav-item">
                <button class="btn-success" onclick="changeInsertView()">
                    Add Article
                </button>
            </li>
        </ul>
    </nav>
</div>
