#image_canvas_wrapper{
    margin-left: 5% ;
    margin-right: 5%;
    margin-top: 5%;
    height: 70vh;
}

p {
    word-break: break-all;
    white-space: normal;
}

#kg_type, #kg_search{
    height: 100%;
}

#canvas_buttons{
    margin-left: 10% ;
    margin-right: 10%;
}

#knowledge_graph {
    margin-top: 5%;
}

#history {
    margin-top: 5%;
    height: 70vh;
    overflow-y: scroll;
}

.text_input{
    width: 100%;
    height: 100%;
}

.card{
    margin: 2%;
}

.card-img{
    max-height: 80vh;
}

.colourbox{
    height: 2.4em;
    width: 2.4em;
}